<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbMfg"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-9NIE6AP\SQL2008;Initial Catalog=Manufacturing;Integrated Security=SSPI;Timeout=10" />
    <add name="DbLocal"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQL2014;Initial Catalog=Mahlo;Integrated Security=SSPI;Timeout=10"/>
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose"/>
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:EventLog" value="Serilog.Sinks.EventLog"/>
    <add key="serilog:write-to:Eventlog.manageEventSource" value="true"/>
    <add key="serilog:write-to:EventLog.source" value="MahloMapper"/>
    <add key="serilog:write-to:EventLog.restrictedToMinimumLevel" value="Information"/>
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="%ProgramData%\PA-Group\MahloMapper\ServiceLog.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
  </appSettings>
</configuration>